<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from www.devsnews.com/template/enacare/enacare/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jan 2022 05:33:49 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Suryabala Seva Sansthan</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="image/x-icon" href="/users/assets/img/favicon.html">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/users/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/users/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/users/assets/css/animate.css">
    <link rel="stylesheet" href="/users/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/users/assets/css/all.min.css">
    <link rel="stylesheet" href="/users/assets/css/flaticon.css">
    <link rel="stylesheet" href="/users/assets/css/font.css">
    <link rel="stylesheet" href="/users/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/users/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/users/assets/css/nice-select.css">
    <link rel="stylesheet" href="/users/assets/css/slick.css">
    <link rel="stylesheet" href="/users/assets/css/main.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- header-area start -->
    <%- include('header'); -%>
    <!-- header-area end -->

    <!-- slide-bar start -->
    <%- include('sidebar'); -%>
    <!-- slide-bar end -->

    <main>

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/users/assets/img/bg/19.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Contact Us</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/users/">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="/users/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->
        <!--join-team-area start-->
        <section class="contacts-details-area pt-130 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="get-touch-area pl-50 pr-50">
                            <div class="section-title text-left mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <h6><i class="fas fa-link"></i> Get In Touch</h6>
                                <h2>Don’t Hesitate To Contact Us</h2>
                            </div>
                            <div class="contacts d-flex align-items-center mb-30">
                                <div class="contacts__icon mr-25">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <div class="contacts__text">
                                    <h4 class="semi-02-title">Phone Number</h4>
                                    <h5><a href="tel:<%= ngo_info[0].ngo_mobile1 %>"><%= ngo_info[0].ngo_mobile1 %></a> , <a href="tel:<%= ngo_info[0].ngo_mobile2 %>"><%= ngo_info[0].ngo_mobile2 %></a></h5>
                                </div>
                            </div>
                            <div class="contacts d-flex align-items-center mb-30">
                                <div class="contacts__icon mr-25">
                                    <i class="flaticon-chat"></i>
                                </div>
                                <div class="contacts__text">
                                    <h4 class="semi-02-title">Email Address</h4>
                                    <h5><a href="mailto:<%= ngo_info[0].ngo_email %>"><%= ngo_info[0].ngo_email %></a></h5>
                                </div>
                            </div>
                            <div class="contacts d-flex align-items-center mb-30">
                                <div class="contacts__icon mr-25">
                                    <i class="flaticon-location"></i>
                                </div>
                                <div class="contacts__text">
                                    <h4 class="semi-02-title">Our Location</h4>
                                    <h5><%= ngo_info[0].ngo_address %></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--join-team-area end-->
        <!--full-map-area end-->
       <section class="full-map-area">
            <div class="container-fluid pr-0 pl-0">
                <div class="row no-gutters">
                    <div class="col-xl-12">
                        <div class="map-area-02 map-area-03">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.2190848413156!2d72.57150541444274!3d23.052428220997488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84823e54e0b7%3A0x59df10c9783c43e8!2sSuryabala%20Seva%20Sansthan!5e0!3m2!1sen!2sin!4v1643525926380!5m2!1sen!2sin" ></iframe>
                            <!--    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29169.94591227534!2d90.37409288955075!3d23.951837400000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1608827553239!5m2!1sen!2sbd"></iframe>-->
                        </div>
                    </div>
                    
                </div>
            </div>
       </section>
        <!--full-map-area start-->
    </main>
    <!--footer-area start-->
    <%- include('footer'); -%>
    <!--footer-area end-->



    <!-- JS here -->
    <script src="/users/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/users/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/users/assets/js/popper.min.js"></script>
    <script src="/users/assets/js/bootstrap.min.js"></script>
    <script src="/users/assets/js/owl.carousel.min.js"></script>
    <script src="/users/assets/js/isotope.pkgd.min.js"></script>
    <script src="/users/assets/js/slick.min.js"></script>
    <script src="/users/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/users/assets/js/metisMenu.min.js"></script>
    <script src="/users/assets/js/jquery.nice-select.js"></script>
    <script src="/users/assets/js/ajax-form.js"></script>
    <script src="/users/assets/js/wow.min.js"></script>
    <script src="/users/assets/js/jquery.counterup.min.js"></script>
    <script src="/users/assets/js/waypoints.min.js"></script>
    <script src="/users/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/users/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/users/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/users/assets/js/jquery.easypiechart.js"></script>
    <script src="/users/assets/js/tilt.jquery.js"></script>
    <script src="/users/assets/js/parallax.min.js"></script>
    <script src="/users/assets/js/plugins.js"></script>
    <script src="/users/assets/js/main.js"></script>
</body>


<!-- Mirrored from www.devsnews.com/template/enacare/enacare/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jan 2022 05:33:49 GMT -->
</html>