<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from www.devsnews.com/template/enacare/enacare/events-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jan 2022 05:33:36 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Suryabala Seva Sansthan</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="image/x-icon" href="/users/assets/img/favicon.html">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/users/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/users/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/users/assets/css/animate.css">
    <link rel="stylesheet" href="/users/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/users/assets/css/all.min.css">
    <link rel="stylesheet" href="/users/assets/css/flaticon.css">
    <link rel="stylesheet" href="/users/assets/css/font.css">
    <link rel="stylesheet" href="/users/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/users/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/users/users/assets/css/nice-select.css">
    <link rel="stylesheet" href="/users/assets/css/slick.css">
    <link rel="stylesheet" href="/users/assets/css/main.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- header-area start -->
    <%- include('./header'); -%>
    <!-- header-area end -->

    <!-- slide-bar start -->
    <%- include('./sidebar'); -%>
    <!-- slide-bar end -->

    <main>

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/users/assets/img/bg/15.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 offset-xl-4">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Events List</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/users/">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="/users/events">Events</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->
        <!--cases-details-area start-->
        <section class="events-grid-area1 pt-125 pb-120" >
            
            <div class="custom-container1">
                <h4 style="color: white;" >
                <% for(var i=0; i<category_info.length; i++) { %>
                    <b><a href="/users/eventsfilter/<%= category_info[i].category_id %>"><%= category_info[i].category_name %></a><% if (i<category_info.length-1){ %> |</b>
                <% }} %> 
                </h4>
                <br>
    
                <div class="row">
                    <% for(var i=0; i<event_info.length; i++) { %>
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="events-wrapper mb-30">
                            <div class="events grey-bg2 pos-rel d-sm-flex align-items-center mb-30 wow fadeInUp2 animated"
                                data-wow-delay='.5s'>
                                <div class="events__back">
                                    <img src='/upload/event_background/<%= event_info[i].image_path %>' style="width:816px; height: 190px;">
                                </div>
                                <div class="row align-items-center pl-50 pr-50">
                                    <div class="col-xl-8 col-lg-7 col-md-7">
                                        <div class="events__content">
                                            <span><i class="far fa-calendar-alt"></i><%= moment(event_info[i].event_date).format('DD-MMM-YYYY'); %> </span>
                                            <h3 class="mb-15"><a href="/users/events_details"> <%= event_info[i].event_title %> </a></h3>
                                            <p><%= event_info[i].event_details %></p>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-5 col-md-5">
                                        <div class="events__btn text-md-center text-lg-right">
                                            <a class="theme_btn text-md-center theme_btn_bg" style="margin-left: 500px;" href="/users/events_details/<%= event_info[i].event_id %>">join event
                                                <span><i class="fas fa-hand-holding-heart"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %> 
                </div>
            </div>
        </section>
        <!--cases-details-area end-->
    </main>
    <!--footer-area start-->
    <%- include('./footer'); -%>
    <!--footer-area end-->



    <!-- JS here -->
    <script src="/users/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/users/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/users/assets/js/popper.min.js"></script>
    <script src="/users/assets/js/bootstrap.min.js"></script>
    <script src="/users/assets/js/owl.carousel.min.js"></script>
    <script src="/users/assets/js/isotope.pkgd.min.js"></script>
    <script src="/users/assets/js/slick.min.js"></script>
    <script src="/users/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/users/assets/js/metisMenu.min.js"></script>
    <script src="/users/assets/js/jquery.nice-select.js"></script>
    <script src="/users/assets/js/ajax-form.js"></script>
    <script src="/users/assets/js/wow.min.js"></script>
    <script src="/users/assets/js/jquery.counterup.min.js"></script>
    <script src="/users/assets/js/waypoints.min.js"></script>
    <script src="/users/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/users/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/users/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/users/assets/js/jquery.easypiechart.js"></script>
    <script src="/users/assets/js/tilt.jquery.js"></script>
    <script src="/users/assets/js/parallax.min.js"></script>
    <script src="/users/assets/js/plugins.js"></script>
    <script src="/users/assets/js/main.js"></script>
</body>


<!-- Mirrored from www.devsnews.com/template/enacare/enacare/events-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jan 2022 05:33:36 GMT -->
</html>